<h1>Comment form</h1>
<form action="/comments/all" method="POST">
    <div class="form-group">
        <label for="bodyCom">Comment</label>
        <textarea class="form-control" id="bodyCom" rows="3" name='bodyCom'></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post a comment</button>
</form>